.container-fluid{
	background-color: white;
	height: 70px;
}
a {
	text-decoration:none;
	color: #ff5588; 
	font-size: 14px;
	margin-right: 10px; 
}
li{
	display: inline-block;
	margin-left: 120px;
	padding-top:40px;	
}
.torta{
	background-color: #89ecda;
	width: 1200;
	height: 400px;
	padding-top: 0px;
}
img{
	width: 120px;
	margin-left: 170px;
	padding-top:25px;
}
h1{
	font-family: 'Merienda One', cursive;
	font-size: 38px;
	color: white;
	margin-top: 60px;
	margin-left: 150px;
}
.contenido{
	font-family: 'Merienda One', cursive;
	font-size: 18px;
	color: white;
	width: 500px;
	margin-left: 150px;
	margin-top: 10px;
}
form{
	background-image: url(../image/background-formulario.jpg);
	border-radius: 8px;
	box-sizing: border-box;
	width: 300px;
	height: 280px;
	padding: 10px;
	margin-top:60px;
	margin-left: 200px;
}
h2{
	color:#ff3377;
	text-align: center;
	font-family: 'Merienda One', cursive;
	margin:0;
	font-size: 20px;
	margin-bottom: 20px;
}
input{
	box-sizing: border-box;
	width: 80%;
	margin-bottom: 20px;
	margin-left: 25px;
	padding: 8px;
	font-size: 17px;
}
#boton2{
	background: #ff3377;
	border-radius: 10px;
	border: 1px solid #ff3377; 
	width: 120px;
	height: 50px;
	margin-left:80px;
	padding: 10px;
	color:white;
	font-size: 14px;
}
#boton2:hover {
	cursor:pointer;
}
.ultima{
	background-image: url(../image/cupcakes.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 450px;
}
p{
	font-family: 'Merienda One', cursive;
	font-size: 12px;
	color: white;
	margin-left: 150px;
	padding-top: 10px;
}
